$color_blanco: white;
$color_platinium: #E6E7E7;
$color_lightgray: #D1D1D1;
$color_negro: #121619;
$color_raisinblack:#222323;
$color_nickel: #6C6E70;
$color_rosalato:#E56353;
$color_rosamedio:#D76C69;
$color_rosaligth:#ECBC;